#
# PySceneDetect Python Requirements
#
scenedetect
opencv-python
numpy
click
tqdm
pytest

#
# ImgKMean Python Requirements
#
opencv-python  #cv2
sklearn
matplotlib
Pillow         #PIL
pickle         #or dill
