#
# PySceneDetect Python Requirements
#
scenedetect
opencv-python
numpy
click
tqdm
pytest

#
# kmean_cluster Python Requirements
#
opencv-python  #cv2
sklearn
matplotlib
Pillow         #PIL
pickle         #or dill
